body{
  background-color:azure;
  color:black;
}
#Table{
  background-color: royalblue
}
#Temperature{
  background-color: turquoise
}
#Humidity{
  background-color: aqua
}
.Table_class{
  font-family: Arial, Helvetica, sans-serif;
}